<div class="row-fluid">
  <div class="home offset2 span8 <%= color %>">
  	<%= raw @page.content_for(:home_headline) %>
  </div>
</div>

<div class="row-fluid">
  <div class="home lead offset2 span8 <%= color %>">
  	<%= raw @page.content_for(:home_lead_text) %>
  </div>
</div>