
<div class="home offset2 span8 <%= color %>">
	<%= raw @page.content_for(:home_headline) %>
</div>
<div class="home lead offset2 span8 <%= color %>">
	<%= raw @page.content_for(:home_lead_text) %>
</div>

<%#= raw @page.content_for(:body) %>
<%#= render '/refinery/content_page' %>

<%#= @page.white_text -%>