<div class="<%= color %> span7 offset5">
	<%= raw @page.content_for(:l2_headline) %>
</div>
<div class="<%= color %> span7 offset5">
  <%= raw @page.content_for(:l2_lead_text) %>
</div>

<%#= render '/refinery/content_page' %>
