<div class="container">

<div class="navbar navbar-inverse">

  <div class="navbar-inner">
  	
  	
    <div class="container">
    	<div class="row-fluid">
    	<div class="span6 pull-left">
    		<h3>Get the long form of our story.</h3>
    		<form class="form-inline" action="http://metre.createsend.com/t/t/s/vhrht/" method="post" id="subForm">
					<input style="margin-top:5px;"type="text" name="cm-vhrht-vhrht" id="vhrht-vhrht" placeholder="Your email address"/> <button type="submit" value="Subscribe" class="btn btn-primary">Subscribe</button>
				</form>

    	</div>

		  <div class="span6 pull-right">
				<%= render :partial => '/refinery/menu', :locals => { 
           :roots => refinery_menu('footer_menu') } %>
      </div>


			</div>

			<div class="container" id="social-section" style="border-top:1px solid #121212;">
<div class="row">
	<div class="span5" style="margin-top:20px;">
		<blockquote><p>That Vine thing? It's happening. How Fashion Brands Are Using Vine http://on.mash.to/17tTc0x  via @mashable</p></blockquote>

	</div>
	<div class="span6 pull-right"><%= render :partial => '/refinery/menu', :locals => { 
	:roots => refinery_menu('social'),
	:dom_id => 'stuff' } %>
  </div>


</div>

</div>

<p class="">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>

			</div>
		</div>
	</div>
</div>

