<div class="container">

<div class="navbar navbar-inverse">

  <div class="navbar-inner">
  	
  	
    <div class="container">
    	<div class="row-fluid">
    	

		  <div class="span6 pull-right">
				<%= render :partial => '/refinery/menu', :locals => { 
           :roots => refinery_menu('footer_menu'),
           :menu_name => 'footer' } %>
      </div>

      <%#= roots %>


			</div>

			<div class="container" id="social-section" style="border-top:1px solid #121212;">
<div class="row">
	<div class="span4" style="margin-top:10px;">
		<div class="span6 pull-left">
    		<h3>Get the long form of our story.</h3>
    		<form class="form-inline" action="http://metre.createsend.com/t/t/s/vhrht/" method="post" id="subForm">
					<input style="margin-top:5px;"type="text" name="cm-vhrht-vhrht" id="vhrht-vhrht" placeholder="Your email address"/> <button type="submit" value="Subscribe" class="btn btn-primary">Subscribe</button>
				</form>

    	</div>
		

	</div>

<div class="row">
  <div class="span7 pull-right blockquote">
   
    <div class="row pull-right" id="social-section" style="margin-top:20px;">
    	
    	<%# TweetFav.order("tweet_id desc").limit(3).each do |tweet| %>
    	<% tweet = TweetFav.all %>
    	<% show_tweet = tweet.to_a.sample %>
    	<div class="span5"><blockquote><p>
    	<%= auto_link(show_tweet.content).html_safe %>
    	</p></blockquote></div>

    	<%# tweet.each_with_index do |t, index| %>
    		<%#= index %>
    		<%#= t.screen_name %>
    		<%#= t.content %>
    	<%# end %>
    		<%# @sample = tweet.to_a.sample %>
    		<%#= tweet.content %>
    		<!-- <div class="span5"><blockquote><p>
	      	<%#= auto_link(@sample[:text]).html_safe %>
	      	<small><%#= link_to "#{(@sample[:user][:name])} - @#{(@sample[:user][:screen_name])}", "http://www.twitter.com/#{(@sample[:user][:screen_name])}" %></small>
	      </p></blockquote></div>

    	<%# end %>

    	<%# cache(:key => 'twits', :expires_in => 1.hour) do %>
    	<%# cache "Twits#{Date.today}" do %>
		<%# tweet = Twitter.favorites('metreagency', count:4) %>
		<%# @sample = tweet.to_a.sample %>
	      <div class="span1">
	      	<%#= image_tag @sample[:profile_image_url], style: 'margin-top:5px;' %>
	      </div>
	      <div class="span5"><blockquote><p>
	      	<%#= auto_link(@sample[:text]).html_safe %>
	      	<small><%#= link_to "#{(@sample[:user][:name])}@#{(@sample[:user][:screen_name])}", "http://www.twitter.com/#{(@sample[:user][:screen_name])}" %></small>
	      </p></blockquote></div>
	    <%# end %>
    </div>
  </div>
</div>

</div>

</div>

<p id="copyright">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>

			</div>
		</div>
	</div>
</div>

