/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=require twitter-bootstrap-static/bootstrap
 *= require_tree .
 */

 
body {padding-right:0 !important;padding-left:0 !important;}
#top {background-color:#000000;height:70px;background-image:url('bg-top.png') repeat-x 0 0;position:relative;top:0;left:0;z-index:-1;}
.navbar-inverse .navbar-inner {background-color:#000000 !important;padding-bottom:0 !important;}






/* Large desktop */
@media (min-width: 1200px) {

	#top {height:70px;}
 }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	#top {height:70px;}
	.brand {margin-top:6px !important;}
 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#page.container {padding-left:10px;padding-right:10px;}
	#top {min-height:70px;}
	.brand {margin-top:6px !important;}
 }
 
/* Landscape phones and down */
@media (max-width: 480px) {

	.brand {margin-top:6px !important;}

	

 }