/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=require twitter-bootstrap-static/bootstrap
 *= require_tree .
 */


/*

font-family:'ITCLubalinGraphW01-Bk';
font-family:'ITCLubalinGraphW01-Md';
font-family:'ITCLubalinGraphW01-MdOb';
font-family:'ITCLubalinGraphW01-XLt';
font-family:'ITCLubalinGraphW01-XLtO';
font-family:'ITCLubalinGraphW01-BkOb';
font-family:'ITCLubalinGraphW01-Demi';
font-family:'ITCLubalinGraphW01-DmOb';
font-family:'ITCLubalinGraphW01-Bd';
font-family:'ITCLubalinGraphW01-BdOb';
font-family:'ITCLubalinGraphW01-BkCn 735026';
font-family:'ITCLubalinGrW01-BkCondS';
font-family:'ITCLubalinGraphW01-BkCn 735029';
font-family:'ITCLubalinGraphW01-MdCn 735038';
font-family:'ITCLubalinGrW01-MdCondS';
font-family:'ITCLubalinGraphW01-MdCn 735041';
font-family:'ITCLubalinGraphW01-DmBd 735032';
font-family:'ITCLubalinGraphW01-DmBd 735035';
font-family:'ITCLubalinGraphW01-BdCn 735020';
font-family:'ITCLubalinGraphW01-BdCn 735023';

*/
 
body {padding-right:0 !important;padding-left:0 !important;}

#top {background-color:#000000;height:70px;background-image:url('bg-top.png') repeat-x 0 0;position:relative;top:0;left:0;z-index:-1;}
.navbar-inverse .navbar-inner {background-color:#000000 !important;padding-bottom:0 !important;}


h1, h2, h3 {color:#000000;font-family:'ITCLubalinGraphW01-XLt', serif !important;line-height:1.15em;margin-top:2em;}
h1, h1#body_content_title {font-family:'ITCLubalinGraphW01-XLt', serif !important;font-size:38px !important;margin-top:1em;}
.home h1 {font-size:48px;font-family: 'ITCLubalinGraphW01-XLt', serif !important;text-align:center;line-height:1.15em;margin-bottom:1em;margin-top:1em;font-weight:100;}
.home.lead {color:#000000;font-size:20px;line-height: 1.25em;}

.lead {color:#000000;font-size:16px !important;line-height: 1.25em !important;}
.white_text {color:#ffffff !important;}
.l2 h1 {font-size:72px;line-height: 1.15em;margin-top:1em;}
.l2 h1 em {font-style: italic;}
#say-metre {font-family:Times, serif !important;}
strong.larger {font-size:18px;color:#b9dba0;}
p {margin-bottom:1.25em !important;}


#page {padding-bottom:100px;min-height: 500px}
.carousel-indicators li .active {background-color:#cdcdcd !important;}
.carousel-indicators li {background-color:#ceebef;}
.work-images {background-color:#000000;position:absolute;bottom:0px;left:0px;width:100%;height:30px;padding:15px;opacity:.75;}


/*footer {position:fixed;bottom:0;padding:20px;background-color:#000000;width:100%;opacity:0.85;color:#ffffff;}*/
footer {padding:20px;color:#ffffff;margin-top:100px;opacity:0.7;}
#social-section ul li {display:inline-block;width:120px;height:130px;text-align:center;}
#social-section ul li a {color:#ffffff;padding-bottom:100px;}
#social-section ul li a:hover {color:#f5f5f5;padding-bottom:100px;opacity:1.0;background-color: transparent;}
#social-section ul li:nth-child(1) {background:url('fb.png') no-repeat 15px 35px;}
#social-section ul li:nth-child(2) {background:url('kb.png') no-repeat 15px 35px;}
#social-section ul li:nth-child(3) {background:url('jg.png') no-repeat 15px 35px;}
#social-section ul li:nth-child(4) {background:url('ci.png') no-repeat 15px 35px;}
#social-section blockquote {padding-left:0 !important;border-left:none;margin-left:-10px;}
#social-section blockquote p {font-family:Times, serif;font-size:24px !important;font-style: italic;}
#social-section blockquote p a {color:#cdcdcd;}
#copyright {opacity:0.25;font-size:10px;}

/*.home h1 {font-size:96px;font-family:'Open Sans Condensed', sans-serif !important;text-transform: uppercase !important;text-align:center;line-height:2em;}
.home.lead {color:#000;}*/






/* Large desktop */
@media (min-width: 1200px) {
	
	#top {height:70px;}
 }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	#top {height:70px;}
	.home h1 {font-size:92px;line-height:1.5em;}
	.brand {margin-top:6px !important;width:63px !important;}
 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	#page.container {padding-left:20px;padding-right:20px;}
	#top {min-height:70px;}
	.home h1 {font-size:72px;line-height:1em;}
	.brand {margin-top:6px !important;width:63px !important;}
	.home h1 {line-height:1em;font-size:72px;}
 }
 
/* Landscape phones and down */
@media (max-width: 480px) {

	.brand {margin-top:6px !important;}
	.home h1 {font-family: 'ITCLubalinGraphW01-XLt', serif !important;line-height:1em;font-size:30px !important;}
	.work-images {background-color:#000000;position:absolute;bottom:0px;left:0px;width:100%;height:18px;padding:10px;opacity:.75;}

 }